$font-weight-700:700;
$font-weight-100:100;
$font-weight-300:300;
$color-title-p:#303030;
$color-title-h2:#111111;
$bg-service: rgb(246, 246, 246);
$bg-over-play:rgba(0, 0, 0, 0.41);
$bg-btn-banner:#56b665;
$text-card-color:#777777;
$box-shadow-color-card:0px 8px 14.72px 1.28px rgb(207 207 207 / 30%);
$bg-card:#fff;
$color-icon-contact:rgb(86, 182, 101);
$bg-contact:rgb(39, 45, 46);
$bg-footer-content:rgb(52, 60, 62);
$bg-footer:#666;
$color-footer:#B6BDBF;
$height-header:70px;
$font-family: 'Montserrat', sans-serif;
$font-family-p:'Open Sans', sans-serif;
$box-shadow-card:0 0 10px rgb(0 0 0 / 50%);
$ez-font-family-2: 'Circular Std', sans-serif;
$ez-primary-color: #53A780;
$ez-primary-light-color: #E2FAF4;
$ez-primary-dark-color: #2FAB8D;
$ez-primary-darken-color: #309C82;
$ez-secondary-color: #FFD65C;
$ez-white-color: #ffffff;
$ez-gray-color: #EAE9EC;
$ez-tag-color: #EEF5F4;
$ez-shadow-color: #DADADF;
$ez-text-color: #4D4D52;
$ez-blue-dark-color: #35353A;
$ez-blue-primary: #263658;
$ez-tag-color-title: #263658;
$ez-tag-color-text: #FFCC00;
$ez-background-color: #E2FAF4;
$ez-primary-color-2: #FD98B8;
$ez-secondary-color-2: #5AA97F;
$ez-text-gradient: linear-gradient(128.37deg, $ez-primary-color 20.53%, $ez-secondary-color 70.04%);
$ez-text-gradient-2: linear-gradient(128.53deg, $ez-primary-color 20.53%, $ez-secondary-color 80.61%);
$ez-outline-gradient: linear-gradient(94.79deg, $ez-primary-color-2 0%, $ez-secondary-color-2 108.89%);
$ez-breakpoints-xs: 0;
$ez-breakpoints-sm: 576px;
$ez-breakpoints-md: 768px;
$ez-breakpoints-lg: 992px;
$ez-breakpoints-xl: 1200px;
$ez-breakpoints-xxl: 1400px;
$ez-text-color-rgba: #8E8F94;
$bg-nav-bar: rgba(255, 255, 255, 0.4);
$bg-img-banner: url(../images/bg-banner.png);
$mix-blend: normal;
$bg-img-learn: url(../../../assets/images/learn-to-earn-bg-blur.png);
$bg-color-key: #ffffff;
$bg-item-key-1: linear-gradient(114.3deg,#96d6a2 4.53%, #a8eeb5 102.53%);
$bg-item-key-2: linear-gradient(135.36deg, #ffe799 0.61%, #fcefc3 52.28%, #faf5e2 102.19%);
$color-roadmap-status: 2px rgba($color: $ez-blue-primary, $alpha: 0.2) solid;
$opacity:0.6;
$ez-text-color-submit:#4D4D52;
$color-icon-social:#35353A;
// $bg-footer:linear-gradient(94.79deg, #53A780 0%, #FFD65C 108.89%);
$border-color-question:#fafafa;
$border-style:solid;
$bg-card-item: #fafafa;
$bg-color-true-ques:#78c787;
$bg-color-active-success:#caedd0;
$color-text-choice-success:#3f7b1a;
$bg-color-false-ques:#ff647c;
$color-border-false:#fd98b8;
$bg-color-active-false:#fbe4e8;
$color-text-des:#362658;
$color-text-title-ques:#4d4d52;
$color-text-logo:#35353A;
$bg-color-card-ques:linear-gradient(180deg,
rgba(255, 255, 255, 0) 0%,
#ffffff 67.71%);
$box-shadow-color:-3px 0px rgb(0 2 33 / 14%);
$color-text-key:#4D4D52;
$white-color: #ffffff;
$gray-color:#f1f1f1;
$pading-mode: 7px 9px;