@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;700&family=Open+Sans:wght@300;500;700&display=swap");
.title-content {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}
.title-content h2 {
  color: #111111;
  text-transform: uppercase;
  font-size: 29px;
}
.title-content h6 {
  font-size: 12px;
  color: #303030 !important;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 20px;
}
.title-content .line-bottom {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;
  content: "";
  background: #56b665;
  height: 3px;
}
.title-content p {
  color: #303030;
  font-size: 16px;
  line-height: 32px;
  padding: 0;
  margin-top: 40px;
}
@media (max-width: 575px) {
  .title-content h2 {
    font-size: 21px;
  }
  .title-content p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
  }
}

.title-content-2 {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}
.title-content-2 h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 29px;
}
.title-content-2 .line-bottom {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;
  content: "";
  background: #ffffff;
  height: 3px;
}
.title-content-2 p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
  line-height: 32px;
  padding: 0;
  margin-top: 40px;
}
@media (max-width: 575px) {
  .title-content-2 h2 {
    font-size: 21px;
  }
  .title-content-2 p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
  }
}

.card-text-inner h4 {
  font-size: 18px;
  padding-top: 20px;
  font-weight: 700;
}
.card-text-inner h4 a {
  color: #111111 !important;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
.card-text-inner .line-bottom-small {
  display: block;
  content: "";
  background: #56b665;
  width: 30px;
  height: 2px;
  margin-top: 23px;
  margin-left: auto;
  margin-right: auto;
}
.card-text-inner p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #303030;
  padding: 30px 0;
}

.section-service {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(246, 246, 246);
}
.section-service .slick-next,
.section-service .slick-prev {
  opacity: 0;
}
.section-service .slick-next::before,
.section-service .slick-prev::before {
  margin: 0;
  padding: 0;
  width: 36px;
  border: none;
  cursor: pointer;
  color: #56b665;
  font-size: 36px;
  background-color: transparent;
}
.section-service .slick-initialized .slick-slide {
  margin: 0 15px 0 0;
}
.section-service .slick-next {
  right: -75px;
}
.section-service .slick-next:hover {
  opacity: 1;
}
.section-service .slick-prev {
  left: -90px;
  transform: translateX(20%);
}
.section-service .slick-prev:hover {
  opacity: 1;
}
.section-service img {
  max-width: 100%;
}
.section-service .card-content-service {
  background: #fff;
  transition: all 0.3s linear;
}
.section-service .card-content-service:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.section-service:hover .slick-next,
.section-service:hover .slick-prev {
  opacity: 0.2;
}
.section-service:hover .slick-next:hover,
.section-service:hover .slick-prev:hover {
  opacity: 1;
}
.section-service .card-image-service {
  position: relative;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.section-service .card-image-service:hover {
  transform: none;
  box-shadow: none;
}
.section-service .card-image-service:hover .box-text-inner {
  opacity: 1;
  transform: scale(1) translateZ(0) translateY(-50%) !important;
}
.section-service .card-image-service .box-text-inner {
  opacity: 0;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  bottom: auto !important;
  z-index: 16;
  left: 0;
  right: 0;
}
.section-service .card-image-service .box-text-inner h4 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 100;
}
.section-service .card-image-service .box-text-inner a {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
  line-height: 30px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  background: transparent;
  padding: 8px 16px;
}
.section-service .card-image-service .box-text-inner a:hover {
  background: #56b665;
}

.banner-main {
  background-image: url(../images/background/image_01-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.banner-main .banner-main-inner {
  padding: 60px 0;
}

.banner-main-2 {
  background-image: url(../images/background/image_02-7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.banner-main-2 .banner-main-inner {
  margin: 0;
  padding: 132px 0;
}
@media (max-width: 575px) {
  .banner-main-2 .banner-main-inner {
    padding: 50px 0 !important;
  }
}
.banner-main-2 .banner-main-inner .banner-content {
  padding: 20px;
  line-height: 50px;
}
.banner-main-2 .banner-main-inner .banner-content h4 {
  font-size: 30px;
  color: #ffffff;
}
.banner-main-2 .banner-main-inner .banner-content p {
  margin-bottom: 5px;
  color: #f1f1f1;
}
.banner-main-2 .banner-main-inner .banner-content:hover::before {
  width: 100%;
  height: 100%;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}
.banner-main-2 .banner-main-inner .banner-content:hover::after {
  width: 100%;
  height: 100%;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.banner-main-2 .banner-main-inner .banner-content::before {
  content: "";
  position: absolute;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  width: 55px;
  height: 30px;
  left: 0;
  top: 0;
  transition: 0.5s;
}
.banner-main-2 .banner-main-inner .banner-content::after {
  content: "";
  position: absolute;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 55px;
  height: 30px;
  right: 0;
  bottom: 0;
  transition: 0.5s;
}

.banner-main-3 {
  background-image: url(../images/background/image_03-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.banner-main-3 .introduce-content {
  padding-top: 60px;
}
.banner-main-3 .introduce-content h5 {
  font-size: 18px;
  color: #111111;
  font-weight: 500;
}
.banner-main-3 .introduce-content p {
  font-size: 14px;
  color: #303030;
  font-weight: 100;
  padding-right: 20px;
  padding-left: 20px;
}
.banner-main-3 .content {
  padding: 120px 0;
  line-height: 30px;
}
.banner-main-3 .content .slick-next,
.banner-main-3 .content .slick-prev {
  opacity: 0;
}
.banner-main-3 .content .slick-next::before,
.banner-main-3 .content .slick-prev::before {
  margin: 0;
  padding: 0;
  width: 36px;
  border: none;
  cursor: pointer;
  color: #56b665;
  font-size: 36px;
  background-color: transparent;
}
.banner-main-3 .content .slick-initialized .slick-slide {
  margin: 0 15px 0 0;
}
.banner-main-3 .content .slick-next {
  right: -75px;
}
.banner-main-3 .content .slick-next:hover {
  opacity: 1;
}
.banner-main-3 .content .slick-prev {
  left: -90px;
  transform: translateX(20%);
}
.banner-main-3 .content .slick-prev:hover {
  opacity: 1;
}
.banner-main-3 .content:hover .slick-next,
.banner-main-3 .content:hover .slick-prev {
  opacity: 0.2;
}
.banner-main-3 .content:hover .slick-next:hover,
.banner-main-3 .content:hover .slick-prev:hover {
  opacity: 1;
}
.banner-main-3 .content h3 {
  font-size: 20px;
  font-weight: 100;
  color: #ffffff;
  line-height: 30px;
  margin-bottom: 30px;
}
.banner-main-3 .content h6 {
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}

.bg-over {
  background-color: rgba(0, 0, 0, 0.41);
  top: 0;
  left: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  padding: 0 !important;
  margin: 0 !important;
}

.basic-service {
  margin: 30px 0;
}
.basic-service .card-content {
  padding: 0 15px 30px;
  transition: all 0.3s linear;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 8px 14.72px 1.28px rgba(207, 207, 207, 0.3);
  border: 0;
}
.basic-service .card-content:hover {
  box-shadow: 0px 20px 50px 0px rgba(153, 153, 153, 0.5);
  transform: translateY(-10px);
}
.basic-service .card-content::before {
  content: "";
  position: absolute;
  border-left: 2px solid #56b665;
  border-top: 2px solid #56b665;
  width: 80px;
  height: 60px;
  left: 0;
  top: 0;
  transition: 0.5s;
  border-radius: 30px 0px;
}
.basic-service .card-content:hover::before {
  width: 90%;
  height: 90%;
  border-left: 2px solid #56b665;
  border-top: 2px solid #56b665;
}
.basic-service .card-content::after {
  content: "";
  position: absolute;
  border-right: 2px solid #56b665;
  border-bottom: 2px solid #56b665;
  width: 80px;
  height: 60px;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  border-radius: 30px 0px;
}
.basic-service .card-content:hover::after {
  width: 90%;
  height: 90%;
  border-right: 2px solid #56b665;
  border-bottom: 2px solid #56b665;
}
.basic-service .card-content .card-header {
  background: none;
  border-bottom: none;
}
.basic-service .card-content .card-header .title {
  background: #ffffff;
  border-bottom: none;
  padding-top: 50px;
  font-size: 18px;
  margin-bottom: 30px;
  color: #111;
}
.basic-service .card-content .card-header span {
  color: #56b665;
  font-weight: 300;
  font-size: 55px;
}
@media (max-width: 768px) {
  .basic-service .card-content .card-header span {
    font-size: 30px;
  }
}
.basic-service .card-content .card-header p {
  padding: 15px 15px 0;
  font-size: 16px;
  color: #777777;
}
.basic-service .card-content .card-body {
  height: 300px;
  padding: 8px 0;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
}
.basic-service .card-content .card-body ul li {
  list-style: none;
  display: block;
  font-size: 14px;
  color: #777777;
  height: 30px;
}
.basic-service .card-content a {
  display: inline-block;
  text-decoration: none;
  margin: 30px 0;
  font-weight: 100;
  color: #111;
  cursor: pointer;
  z-index: 1;
}
.basic-service .card-content a span {
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 50px;
  background: #f6f6f6 !important;
}
.basic-service .card-content a span:hover {
  background: #56b665 !important;
  color: #ffffff;
}

.introduce {
  padding: 30px 0;
}
.introduce img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.introduce .introduce-img-center img {
  height: 420px;
}
@media (max-width: 575px) {
  .introduce .introduce-img-center img {
    height: 300px;
  }
}
@media (max-width: 992px) {
  .introduce .introduce-img-center img {
    height: 270px;
  }
}
.introduce .introduce-img .last-img {
  margin-top: 30px;
}
.introduce .introduce-img img {
  height: 195px;
}
@media (max-width: 575px) {
  .introduce .introduce-img .last-img {
    margin-top: 0px;
  }
  .introduce .introduce-img img {
    margin-top: 30px;
    width: 100%;
    height: 150px;
  }
}
@media (max-width: 992px) {
  .introduce .introduce-img .last-img {
    margin-top: 0px;
  }
  .introduce .introduce-img img {
    margin-top: 16px;
    width: 100%;
    max-height: 162px;
    height: 100%;
  }
}

.introduce-section {
  padding: 30px 0;
}
.introduce-section .text-introduce ul {
  text-align: left;
}
.introduce-section .text-introduce ul li {
  list-style: none;
  margin-left: 0px !important;
  display: block;
  font-size: 14px;
  color: #303030;
  line-height: 30px;
}
.introduce-section .text-introduce ul li h5 {
  font-size: 22px;
}
.introduce-section .img-introduce img {
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 992px) {
  .introduce-section .img-introduce img {
    height: 305px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 0;
  }
}
.introduce-section .img-introduce-down {
  padding-top: 20px;
}
.introduce-section .img-introduce-down img {
  height: 135px;
}
@media (max-width: 992px) {
  .introduce-section .img-introduce-down img {
    width: 100%;
    height: 80px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: 30px;
  }
}

.btn-show-more {
  font-weight: 100;
  color: #ffffff;
  padding: 8px 24px;
  border: none;
  font-size: 18px;
  border-radius: 50px;
  background-color: #56b665;
}
.btn-show-more:hover {
  outline: none;
  background: #777;
  border: 2px solid #56b665;
}

.contact {
  background-color: rgb(39, 45, 46);
}
.contact .contact-content {
  padding-top: 30px;
  display: flex;
}
.contact .contact-content .logo-content {
  width: 50px;
}
.contact .contact-content .text-content {
  padding-left: 16px;
}
.contact .contact-content .text-content h3 {
  color: #80888a;
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
}
.contact .contact-content .text-content p {
  font-size: 16px;
  color: #ffffff !important;
}

.banner {
  margin-bottom: 30px;
}
.banner:hover .slick-next,
.banner:hover .slick-prev {
  opacity: 0.7;
}
.banner:hover .slick-next:hover,
.banner:hover .slick-prev:hover {
  opacity: 1;
}
.banner .slick-next,
.banner .slick-prev {
  opacity: 0;
}
.banner .slick-next::before,
.banner .slick-prev::before {
  margin: 0;
  padding: 0;
  width: 36px !important;
  border: none;
  cursor: pointer;
  color: #56b665;
  font-size: 36px;
  background-color: transparent;
}
.banner .slick-next {
  right: 100px;
}
.banner .slick-next:hover {
  opacity: 1;
}
.banner .slick-prev {
  z-index: 9999;
  left: 190px;
  transform: translateX(20%);
}
.banner .slick-prev:hover {
  opacity: 1;
}
.banner .banner-image img {
  max-width: 100%;
  overflow: hidden;
}
@media (max-width: 576px) {
  .banner .banner-image img {
    min-height: 736px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 768px) {
  .banner .banner-image img {
    min-height: 768px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.banner .banner-inner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.banner .banner-inner h4 {
  font-size: 18px;
  font-weight: 700;
}
.banner .banner-inner h2 {
  font-size: 52px;
  line-height: 72px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.banner .banner-inner h2 strong {
  font-weight: 700;
}
.banner .banner-inner a {
  padding: 0 21px;
  color: #ffffff;
  display: inline-block;
  background-color: #56b665;
  text-decoration: none;
  font-size: 17px;
  border-radius: 50px;
  border: 2px solid #56b665;
  letter-spacing: 0.03em;
}
.banner .banner-inner a:hover {
  background-color: transparent;
}
.banner .banner-inner a span {
  display: inline-block;
  padding: 10px 0;
  line-height: 30px;
}
@media (max-width: 575px) {
  .banner .banner-inner h4 {
    font-size: 14px;
  }
  .banner .banner-inner h2 {
    font-size: 30px;
    line-height: 40px;
  }
}

.banner-introduce {
  background-image: url(../images/banner/banner-introduce.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  margin-bottom: 30px;
}
.banner-introduce .banner-introduce-inner {
  padding: 60px 0;
  z-index: 999;
}
.banner-introduce .banner-introduce-inner h1 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.banner-introduce .banner-introduce-inner a {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  padding: 0;
  text-decoration: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.see-more {
  padding: 60px 0;
}
.see-more p {
  font-size: 24px;
  font-weight: 300;
  color: #303030;
  padding-top: 10px;
}

.section-content {
  margin-bottom: 60px;
}
.section-content .content-inner {
  line-height: 30px;
}
.section-content .content-inner img {
  margin-bottom: 16px;
}
.section-content .content-inner .text-content h4 {
  color: #111111;
  font-size: 18px;
  text-transform: uppercase;
}
.section-content .content-inner .text-content p {
  color: #303030;
  font-size: 14px;
}
@media (max-width: 575px) {
  .section-content .content-inner {
    margin-top: 30px !important;
    text-align: center !important;
  }
}
.section-content .img-content {
  padding: 30px;
}
.section-content .img-content .img-inner img {
  max-width: 100%;
  padding: 15px;
  border: 1px solid #ebebeb;
  border-radius: 99%;
}

.section-content-introduce .content-introduce {
  padding: 30px;
}
.section-content-introduce .content-introduce .content-title {
  line-height: 30px;
}
.section-content-introduce .content-introduce .content-title h3 {
  font-size: 24px;
  color: #111111;
  font-weight: 500;
}
.section-content-introduce .content-introduce .content-title p {
  font-size: 18px;
  color: #303030;
  font-weight: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
}

.show-index {
  z-index: 9999;
  padding: 0 !important;
}

.text-p {
  color: #ffffff;
  font-size: 16px;
  line-height: 32px;
  padding: 0;
  margin-top: 40px;
}

.show-logo {
  display: block !important;
}

.hide-logo {
  display: none !important;
}

.text-right {
  text-align: right;
}

.col-padding {
  margin: 0;
  padding: 0 15px 30px;
}

.z-index {
  z-index: 1 !important;
}

.text-left {
  text-align: left;
}

.mb-30 {
  margin-bottom: 30px;
}

.reset-pd {
  padding: 0 !important;
}

.introduce-pd {
  padding: 50px 20px 50px 20px;
}

.reset-pd-lr {
  padding-left: 0;
  padding-right: 0;
}

.gt-title {
  padding: 20px 0;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1230px;
  }
}/*# sourceMappingURL=style.css.map */