.banner-main {
  background-image: url(../images/background/image_01-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  .banner-main-inner{
    padding: 60px 0;
  }
}
.banner-main-2 {
  background-image: url(../images/background/image_02-7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  .banner-main-inner {
    margin: 0;
    padding: 132px 0;
    @media (max-width: 575px) {
      padding: 50px 0 !important;
    }
    .banner-content {
      padding: 20px;
      line-height: 50px;
      h4 {
        font-size: 30px;
        color: $white-color;
      }
      p {
        margin-bottom: 5px;
        color: $gray-color;
      }
      &:hover::before {
        width: 100%;
        height: 100%;
        border-left: 2px solid $white-color;
        border-top: 2px solid $white-color;
      }
      &:hover::after {
        width: 100%;
        height: 100%;
        border-right: 2px solid $white-color;
        border-bottom: 2px solid $white-color;
      }
      &::before {
        content: "";
        position: absolute;
        border-left: 2px solid $white-color;
        border-top: 2px solid $white-color;
        width: 55px;
        height: 30px;
        left: 0;
        top: 0;
        transition: 0.5s;
      }
      &::after {
        content: "";
        position: absolute;
        border-right: 2px solid $white-color;
        border-bottom: 2px solid $white-color;
        width: 55px;
        height: 30px;
        right: 0;
        bottom: 0;
        transition: 0.5s;
      }
    }
  }
}
.banner-main-3 {
  background-image: url(../images/background/image_03-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  .introduce-content {
    padding-top: 60px;
    h5 {
      font-size: 18px;
      color: $color-title-h2;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      color: $color-title-p;
      font-weight: 100;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
  .content {
    .slick-next,
    .slick-prev {
      opacity: 0;
      &::before {
        margin: 0;
        padding: 0;
        width: 36px;
        border: none;
        cursor: pointer;
        color: $bg-btn-banner;
        font-size: 36px;
        background-color: transparent;
      }
    }
    .slick-initialized .slick-slide {
      margin: 0 15px 0 0;
    }
    .slick-next {
      right: -75px;
      &:hover {
        opacity: 1;
      }
    }
    .slick-prev {
      left: -90px;
      transform: translateX(20%);
      &:hover {
        opacity: 1;
      }
    }
    padding: 120px 0;
    line-height: 30px;
    &:hover {
      .slick-next,
      .slick-prev {
        opacity: 0.2;
        &:hover {
          opacity: 1;
        }
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 100;
      color: $white-color;
      line-height: 30px;
      margin-bottom: 30px;
    }
    h6 {
      color: $white-color;
      font-weight: $font-weight-700;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
