.btn-show-more {
  font-weight: $font-weight-100;
  color: $white-color;
  padding: 8px 24px;
  border: none;
  font-size: 18px;
  border-radius: 50px;
  background-color: $bg-btn-banner;
  &:hover {
    outline: none;
    background: #777;
    border: 2px solid $bg-btn-banner;
  }
}
